@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Emily Mission 3";
}

<!DOCTYPE html>

    <h1>Emily Jensen</h1>
    <img src="img/IMG-6636.jpg" width="500" class="center" />
    <h4>
        In this IS 413 class I hope to learn client and server side programming. I want to learn how to learn, how to figure out problems
        and bugs on my own. I am excited to learn C# and increase my HTML and CSS skills as well. I also hope to understand the ASP.NET MVC Core more.
    </h4>
    <br />
    <br />
    <h3>My top three job choices:</h3>
    <ul>
        <li>Consulting</li>
        <li>Project Management</li>
        <li>Database Management</li>
    </ul>



